body {
  font-family: sans-serif;
  background: #0a0a0a;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
main {
  text-align: center;
}
input {
  padding: 0.5em;
  margin-top: 1em;
  width: 80%;
  background: #222;
  border: 1px solid #444;
  color: white;
}